<nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="main-logo" href="//www.au.dk/" itemprop="url">
                <img src="/assets/logo2.PNG" alt="AU Logo">
            </a> 
            </div>
            <div id="navbar1" class="navbar-collapse collapse">
              <ul>
                <li>
                <a class="nav-item" href="http://envs.au.dk/videnudveksling/luft/maaling/"  target="_blank">Luftmålinger</a> 
                </li>
                <li>
                <a class="nav-item" routerLink="home" routerLinkActive="active">Aktuel luftkvalitet</a>
                </li>  
                <li>
                    <a class="nav-item" routerLink="stations" routerLinkActive="active">Stationer</a>
                </li>       
               
             <li>        
                <a class="nav-item" routerLink="compounds" routerLinkActive="active">Stoffer</a>    
            </li>
           <li>        
                <a class="nav-item" routerLink="graphs-stoffer">Grafer</a>    
            </li>
             <!--  <li>        
                <a href="#" class="nav-item" data-toggle="dropdown" role="button" aria-relevant="true" aria-expanded="false">Information<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li class="dropdown-item"><a class="dropdown-item" href="#" >Stationer</a></li>
                    <li class="dropdown-item"><a  class="dropdown-item" href="#">Stoffer</a></li>
                    <li class="dropdown-item"><a class="dropdown-item" href="#">Metoder</a></li>
                    <li class="dropdown-item"><a class="dropdown-item" href="#">Målinger</a></li> 
                    <li class="dropdown-item"><a class="dropdown-item" href="#">Luftforurening</a></li> 
                    <li class="dropdown-item" class="divider"></li>
                    <li class="dropdown-item"><a class="dropdown-item" href="#">Kontakt</a></li> 
                    <li class="dropdown-item"><a class="dropdown-item" href="#">Om</a></li> 
                </ul>

            </li>  -->
            </ul>      
           
            </div>
            </div>
            </nav>

            
           

<router-outlet></router-outlet>


