<div class="container">
  <div class="row row-offcanvas row-offcanvas-right">
     <h3> Grafer </h3> 
    <div class="col-lg-12 text-center">
        <p>
            <span class="text-info">Gasser:</span>
            <span class="text-nowrap">NO<sub>2</sub>: Kvælstofdioxid µg/m<sup>3</sup></span>,
            <span class="text-nowrap">NO<sub>x</sub>: Kvælstofoxider µg/m<sup>3</sup></span>,
            <span class="text-nowrap">CO: Kulmonoxid mg/m<sup>3</sup></span>,
            <span class="text-nowrap">O<sub>3</sub>: Ozon µg/m<sup>3</sup></span>,
            <span class="text-nowrap">SO<sub>2</sub>: Svovldioxid µg/m<sup>3</sup></span><br />
            <span class="text-info">Partikler:</span>         
            <span class="text-nowrap">PM<sub>10</sub> (PM10Teom): Partikler mindre end 10 µm</span>,
            <span class="text-nowrap">PM<sub>25</sub> (PM25Teom): Partikler mindre end 2,5 µm </span><br /><br />
            <!-- <font size="3" color="red">Der er i øjeblikket problemer med internetforbindelsen til nogle af stationerne, og data kan mangle.</font> -->
          </p>
    </div>      

<div>

  <div>
       <div class="field-container">
          <form class="form-container" [formGroup]="options" (ngSubmit)="getdata()">

         <!--  <mat-form-field >           
           <mat-select placeholder="Vælg et stof" [formControl]="stofid" >
                  <mat-option *ngFor="let stof of stofs" [value]="stof.stofId">
                    {{ stof.forkortelse }}
                  </mat-option>
           </mat-select>
          </mat-form-field> -->
          <mat-form-field >
              <input matInput [matDatepicker]="picker1" placeholder="Vælg et år" [formControl]="datefrom">
                 <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1 startView="year"              
                  
                  [startAt]="startDate"></mat-datepicker>
          </mat-form-field>
         <!--  <mat-form-field >
            <input matInput [matDatepicker]="picker2" placeholder="Dato til" [formControl]="dateto">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle> 
                <mat-datepicker #picker2 startView="year"
                
                [startAt]="endDate"></mat-datepicker>
        </mat-form-field> -->
        <mat-form-field >           
          <mat-select placeholder="Vælg et stof" [formControl]="stofid" >
                 <mat-option *ngFor="let stof of stofs" [value]="stof.forkortelse">
                   {{stof.forkortelse }}
                 </mat-option>
          </mat-select>            
        </mat-form-field>
        <mat-form-field >           
          <mat-select placeholder="Vælg en station" [formControl]="stationName" >
                 <mat-option *ngFor="let station of stations" [value]="station.navn">
                   {{station.navn }}
                 </mat-option>
          </mat-select>            
        </mat-form-field>
          <mat-form-field >           
                  <mat-select placeholder="Vælg en frekvens" [formControl]="frekv" >
                         <mat-option *ngFor="let frekv of frekvs" [value]="frekv.value">
                           {{ frekv.viewValue }}
                         </mat-option>
                  </mat-select>            
          </mat-form-field>
          <div class="form-group">
              <button type="submit" class="btn btn-primary">Hent graf</button>
          </div>
          </form>    
          
          <div>
            <div *ngIf="chart" [chart]="chart">
            
             </div>
            </div>
       </div>
    
   </div>
      
  
  </div>

</div>
      
  